In [14]:
import requests
import numpy as np
import pandas as pd
import json

In [3]:
response = requests.get("https://api.census.gov/data/timeseries/bds/firms/geography.json")

In [4]:
print(response.status_code)

200

API Status Codes
Status codes are returned with every request that is made to a web server. Status codes indicate information about what happened with a request. Here are some codes that are relevant to GET requests:

1. 200: Everything went okay, and the result has been returned (if any).
2. 301: The server is redirecting you to a different endpoint. This can happen when a company switches domain names, or an endpoint name is changed.
3. 400: The server thinks you made a bad request. This can happen when you don’t send along the right data, among other things.
4. 401: The server thinks you’re not authenticated. Many APIs require login ccredentials, so this happens when you don’t send the right credentials to access an API.
5. 403: The resource you’re trying to access is forbidden: you don’t have the right permissions to see it.
6. 404: The resource you tried to access wasn’t found on the server.
7. 503: The server is not ready to handle the request.

In [5]:
print(response.json())

{'fips': [{'name': 'us', 'geoLevelId': '010', 'referenceDate': '2012-01-01'}, {'name': 'metropolitan statistical area', 'geoLevelId': '310'}, {'name': 'state', 'geoLevelId': '040', 'referenceDate': '2012-01-01'}]}

In [30]:
import json

def jprint(obj):
    # create a formatted string of the Python JSON object
    text = json.dumps(obj, sort_keys=True, indent=6)
    print(text)

jprint(response.json())

{
      "fips": [
            {
                  "geoLevelId": "010",
                  "name": "us",
                  "referenceDate": "2012-01-01"
            },
            {
                  "geoLevelId": "310",
                  "name": "metropolitan statistical area"
            },
            {
                  "geoLevelId": "040",
                  "name": "state",
                  "referenceDate": "2012-01-01"
            }
      ]
}

In [10]:
import pandas as pd 
pd.read_json(json.dumps(response.json()))

                                                fips
0  {'name': 'us', 'geoLevelId': '010', 'reference...
1  {'name': 'metropolitan statistical area', 'geo...
2  {'name': 'state', 'geoLevelId': '040', 'refere...

In [11]:
pd.read_json("https://api.census.gov/data/timeseries/bds/firms/geography.json")

                                                fips
0  {'name': 'us', 'geoLevelId': '010', 'reference...
1  {'name': 'metropolitan statistical area', 'geo...
2  {'name': 'state', 'geoLevelId': '040', 'refere...

In [13]:
pd.DataFrame(response.json())

                                                fips
0  {'name': 'us', 'geoLevelId': '010', 'reference...
1  {'name': 'metropolitan statistical area', 'geo...
2  {'name': 'state', 'geoLevelId': '040', 'refere...

In [16]:
url = 'https://api.census.gov/data/timeseries/bds/firms'
response  = requests.get('https://api.census.gov/data/timeseries/bds/firms/geography.json')
data = response.json()

In [19]:
data

{'fips': [{'geoLevelId': '010', 'name': 'us', 'referenceDate': '2012-01-01'},
  {'geoLevelId': '310', 'name': 'metropolitan statistical area'},
  {'geoLevelId': '040', 'name': 'state', 'referenceDate': '2012-01-01'}]}

In [22]:
for item in data:
    print(item)

fips

In [26]:
data['fips'][0]

{'geoLevelId': '010', 'name': 'us', 'referenceDate': '2012-01-01'}

In [27]:
pd.DataFrame(data['fips'])

  geoLevelId                           name referenceDate
0        010                             us    2012-01-01
1        310  metropolitan statistical area           NaN
2        040                          state    2012-01-01

In [49]:
response2 = requests.get("https://project-open-data.cio.gov/v1.1/schema/catalog.json")

In [50]:
jprint(response2.json())

{
      "$schema": "http://json-schema.org/draft-04/schema#",
      "dependencies": {
            "@type": [
                  "@context"
            ]
      },
      "description": "Validates an entire collection of Project Open Data metadata JSON objects. Agencies produce said collections in the form of Data.json files.",
      "id": "https://project-open-data.cio.gov/v1.1/schema/catalog.json#",
      "properties": {
            "@context": {
                  "description": "URL or JSON object for the JSON-LD Context that defines the schema used",
                  "format": "uri",
                  "title": "Metadata Context",
                  "type": "string"
            },
            "@id": {
                  "description": "IRI for the JSON-LD Node Identifier of the Catalog. This should be the URL of the data.json file itself.",
                  "format": "uri",
                  "title": "Metadata Catalog ID",
                  "type": "string"
            },
            "@type": {
                  "description": "IRI for the JSON-LD data type. This should be dcat:Catalog for the Catalog",
                  "enum": [
                        "dcat:Catalog"
                  ],
                  "title": "Metadata Context"
            },
            "conformsTo": {
                  "description": "Version of Schema",
                  "enum": [
                        "https://project-open-data.cio.gov/v1.1/schema"
                  ],
                  "title": "Version of Schema"
            },
            "dataset": {
                  "items": {
                        "$ref": "dataset.json",
                        "minItems": 1,
                        "uniqueItems": true
                  },
                  "type": "array"
            },
            "describedBy": {
                  "description": "URL for the JSON Schema file that defines the schema used",
                  "format": "uri",
                  "title": "Data Dictionary",
                  "type": "string"
            }
      },
      "required": [
            "conformsTo",
            "dataset"
      ],
      "title": "Project Open Data Catalog",
      "type": "object"
}

In [51]:
data = response2.json()

In [52]:
data

{'$schema': 'http://json-schema.org/draft-04/schema#',
 'dependencies': {'@type': ['@context']},
 'description': 'Validates an entire collection of Project Open Data metadata JSON objects. Agencies produce said collections in the form of Data.json files.',
 'id': 'https://project-open-data.cio.gov/v1.1/schema/catalog.json#',
 'properties': {'@context': {'description': 'URL or JSON object for the JSON-LD Context that defines the schema used',
   'format': 'uri',
   'title': 'Metadata Context',
   'type': 'string'},
  '@id': {'description': 'IRI for the JSON-LD Node Identifier of the Catalog. This should be the URL of the data.json file itself.',
   'format': 'uri',
   'title': 'Metadata Catalog ID',
   'type': 'string'},
  '@type': {'description': 'IRI for the JSON-LD data type. This should be dcat:Catalog for the Catalog',
   'enum': ['dcat:Catalog'],
   'title': 'Metadata Context'},
  'conformsTo': {'description': 'Version of Schema',
   'enum': ['https://project-open-data.cio.gov/v1.1/schema'],
   'title': 'Version of Schema'},
  'dataset': {'items': {'$ref': 'dataset.json',
    'minItems': 1,
    'uniqueItems': True},
   'type': 'array'},
  'describedBy': {'description': 'URL for the JSON Schema file that defines the schema used',
   'format': 'uri',
   'title': 'Data Dictionary',
   'type': 'string'}},
 'required': ['conformsTo', 'dataset'],
 'title': 'Project Open Data Catalog',
 'type': 'object'}

In [54]:
pd.DataFrame(data["dependencies"])

      @type
0  @context